
#main-hero {
    background: url("/images/main2.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70vh;
}

#main-hero h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

#three-columns {
    color: black;
    display: flex;
    gap: 40px;
    padding: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

#three-columns > div {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

#three-columns > div p {
    font-size: 1.5em;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

#three-columns > div a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

#three-columns > div a:hover {
    background: black;
    color: white;
}

@media screen and (max-width: 600px) {
    #three-columns {
        flex-direction: column;
    }
    #three-columns > div {
        max-width: none;
    }
}
