
#main-hero {
    background: url("/images/main.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70vh;

    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#main-hero h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}
