
#main-hero {
    background-repeat: no-repeat;
    background-position: 50% 73%;
    background-size: cover;
    background-image: 
        linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3), rgba(50, 62, 113, 0.4)),
        url("/images/files.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70vh;
}

#main-hero h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}
