
:root {
    --reg-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fancy-font: "Playfair Display", Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

html, body {
    margin: 0;
    padding: 0;
    padding-top: 2em;
    font-family: var(--reg-font);
    background: #fff;
    color: #fff;
    font-size: 20px;
}


h1, h2, h3 {
    font-weight: normal;
    font-family: var(--fancy-font);
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: calc(100% - 2rem);

    background: #ffffff;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: box-shadow 200ms;
}

header.docked {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    padding: 0.5rem;
}

nav > a {
    color: #000000;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a.active {
    text-decoration: underline;
    color: rgb(35, 127, 255);
}

main {
    color: black;
}

@media screen and (max-width: 800px) {
    html, body {
        font-size: inherit;
    }
}
