
html, body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #fff;
}


h1, h2, h3 {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

header {
    width: calc(100% - 2rem);

    background: #ffffff;

    padding: 1rem;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    padding: 0.5rem;
}

nav > a {
    color: #000000;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a.active {
    text-decoration: underline;
    color: rgb(35, 127, 255);
}

footer {
    background: #414141;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;

    width: calc(100% - 2rem);
}

main {
    padding: 1rem 1rem;
    color: white;
    background: black;
}
